#avengers{
    width: 320px;
    height: 250px;
    color:red;
}
body{
    text-align: center;
    background: url("https://s-media-cache-ak0.pinimg.com/originals/36/b0/b6/36b0b637bf44d447338b4fc433491d02.png");
}


#trans{
    height: 261px;
    width: 614px;
}